html {
    scroll-behavior: smooth;
  }

body{
    background-color: lightblue;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.main{
    height: 90%;
    background-color: whitesmoke;
    width: 30%;
    
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); /* Aquí va la sombra */
    border-radius: 20px;

    flex-direction: column;
}
.registro{
    display: flex;
    flex-direction: column;
    
}
.titulo{
    width: 80%;
    
    height: 100%;
    margin-left: 5%;
}
.titulo > h2 {
    margin-left: 2%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.primer-grupo{
    display: flex;
    flex-direction: column;
}
.primer-grupo > label, .segundo-grupo > label {
    margin-left: 4%;
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 1.2em;
    font-family: sans-serif;
    
}
.primer-grupo > input {
    width: 40%;
    height: 25px;
    margin-left: 7%;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); /* Aquí va la sombra */
    
}
.generos{
    display: flex;
    flex-direction: row;
}
.generos > label {
    margin-left: 8%;
    margin-top: 2%;
    font-family: sans-serif;
    font-size: 1.1em;
}
.segundo-grupo{
    margin-top: 2%;
}
.tercer-grupo{
    margin-top: 3%;
}
.tercer-grupo > label{
    margin-left: 5%;
    font-family: sans-serif;
    font-size: 1.1em;
}
.tercer-grupo > select {
    margin-left: 1%;
    border-radius: 10px;
    height: 25px;
}
.cuarto-grupo{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.cuarto-grupo > button{
    width: 20%;
    height: 30px;
    border: none;
    border-radius: 15px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3); /* Aquí va la sombra */
    transition: background-color 0.3s ease;
    cursor: pointer;


}
.cuarto-grupo > button:hover{
    background-color: lightseagreen;
    color: white;
    
}
.user-login{
    
    display: flex;
    flex-direction: column;
    
    width: 100%;
    
}
.login{
    display: flex;
    flex-direction: column;
}
.login > label{
    margin-left: 4%;
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 1.1em;
    font-family: sans-serif;
}
.login > input{
    width: 40%;
    height: 25px;
    margin-left: 7%;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); /* Aquí va la sombra */
}
.btn-login{
    margin-top: 4%;
    display: flex;
    justify-content: center
}
.btn-login > button{
    width: 20%;
    height: 35px;
    border-radius: 15px;
    border: none;
    background-color: whitesmoke;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3); /* Aquí va la sombra */
    transition: background-color 0.3s ease;
    cursor: pointer;

}
.btn-login > button:hover{
    background-color: lightseagreen;
    color: white;
    
}
input:focus {
    outline: none; /* Quita el borde azul por defecto */
    border: 2px solid lightblue; /* Borde verde */
    box-shadow: 0 0 2px lightgray; /* Sombra suave */

}
@media (max-width: 768px){

    .main{
        width: 90%;
       
    }
    .registro{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .primer-grupo > label{
        font-size: 0.9em;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .primer-grupo > input{
        height: 20px;
    }
    .titulo > h2{
        font-size: 0.9em;
    }
    .segundo-grupo > label, .generos > label{
        font-size: 0.8em;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .tercer-grupo > label {
        font-size: 0.9em;
    }
    .tercer-grupo > select {
        width: 30%;
        text-align: center;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Aquí va la sombra */
    }
    .cuarto-grupo{
        margin-top: 5%;
        margin-bottom: 5%;

    }
    .cuarto-grupo > button{
        width: 30%;
    }
    .user-login{

        margin-top: 5%;
    }
    .titulo >  h2{
        font-size: 0.9em;
    }
    .login > label {
        font-size: 0.9em;
        margin-bottom: 2%;
        margin-top: 2%;
    }
    .btn-login > button{
        width: 30%;
    }
}